<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%=pageTitle %></title>
<!-- <link rel="stylesheet" href="/css/login.css"> -->
</head>
<body>
        <%for(let product of prods){%>
            <h1><%= product %></h1>
            <a href="" class="btn">Edit</a>
         <form action="" method="POST">
         <button class="btn" type="submit">view register</button>
         </form>
         <form action="" method="POST">
         <button class="btn" type="submit">Take Attendance</button>
        </form>
        <% } %>
	</body>
</html>
